body
{
  background-color: yellow;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  border: 1px solid black;
  outline-style: groove;
  outline-color: red;
}

.h1
{
  text-align: center;
}

.s1
{
  font-size: 66 px;
  color: green;
}
